<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Profile
          <small>Below you can see all information regarding your profile</small>
        </h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Customer Info</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <br />
                        <form id="" data-parsley-validate class="form-horizontal form-label-left">

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-3">
                              <input  type="text" id="first-name" class="form-control col-md-7 col-xs-12" value="{{name}}">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="last-name" name="last-name" value="{{surname}}" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">E-mail</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="email" value="{{email}}" class="form-control col-md-7 col-xs-12" type="email" name="middle-name">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">Telephone</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="tel" value="{{phone}}" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="city" class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="city" value="{{city}}" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="address" value="{{address}}" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                            </div>
                          </div>


        <br>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">

      </div>
    </div>
  </div>
</div>
